.tabs {
  font-family: Inter, sans-serif;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    gap: 24px; //L
    padding: 8px 0;
  }

  &__tab {
    min-height: 42px;
    padding: 0 2px;
    border: 0;
    background: transparent;
    color: var(--tabs-selected);
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;

    cursor: pointer;

    &:focus-visible {
      outline: 2px solid var(--tabs-selected);
      border-radius: 4px;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__panel {
    padding-top: 16px;
  }

  &--underline {
    .tabs__tab {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2px;
        height: 3px;
        width: 90%;
        margin: 0 auto;
        border-radius: 2px;
        transition:
          background 0.2s ease-in-out,
          opacity 0.2s ease-in-out;
        background: var(--tabs-selected);
        opacity: 0;
      }

      &:hover::after,
      &:active::after {
        background: var(--tabs-border);
        opacity: 1;
      }

      &[aria-selected="true"]::after {
        background: var(--tabs-selected);
        opacity: 1;
      }
    }
  }

  &--pill {
    .tabs__list {
      gap: 8px; //2XS
    }

    .tabs__tab {
      border-radius: 999px;
      padding: 8px 12px; //XS
      background: var(--tabs-neutral);
      color: var(--tabs-selected);
      border: 1px solid var(--tabs-border);

      &:hover {
        color: var(--tabs-selected);
        background: var(--tabs-neutral-hover);
        border: 1px solid var(--tabs-border-hover);
      }

      &:active {
        color: var(--tabs-selected);
        background: var(--tabs-neutral-active);
        border: 1px solid var(--tabs-border);
      }

      &:focus-visible {
        outline: 2px solid var(--tabs-selected);
        outline-offset: 2px;
      }

      &[aria-selected="true"] {
        background: var(--tabs-selected);
        color: var(--tabs-neutral);
      }

      &[aria-selected="true"]:hover {
        background: var(--tabs-selected-hover);
        color: var(--tabs-neutral);
      }

      &[aria-selected="true"]:active {
        background: var(--tabs-selected-active);
        color: var(--tabs-neutral);
      }
    }
  }

  &__badge {
    margin-left: 8px;

    padding: 6px 12px;
    border-radius: 999px;

    font-size: 12px;
    line-height: 150%;
    font-weight: 700;

    &--neutral {
      background: var(--tabs-neutral-active);
    }

    &--positive {
      background: var(--tabs-positive);
    }

    &--negative {
      background: var(--tabs-negative);
    }
  }
}

@media (min-width: 769px) {
  .tabs {
    &__tab {
      min-height: 50px;
    }

    &__list {
      gap: 32px; //XL
      padding: 8px 0;
    }

    &--pill {
      .tabs__list {
        gap: 12px; //XS
      }

      .tabs__tab {
        padding: 0px 16px; //S
      }
    }

    &__badge {
      margin-left: 12px;
    }
  }
}
